<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/catlink/css/control.css?v=1.1">
<link rel="stylesheet" type="text/css" href="{$wa_app_static_url}plugins/catlink/css/select2.css">
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/cookie.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/fsend.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/tilesfo/js/fsortable.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/gofileupload.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/bpopup.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/select2.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/catlink/js/select2_locale_ru.js"></script>
<style>
    .ctl-container {
        max-width: 700px;
    }
    .category-list {
        list-style: none;
        padding: 0;
    }
    .ctl-tb-btn-delete{
        cursor: pointer;
    }
    .ctl-dt-wrap {
        overflow-x: auto;
    }
    .ctl-table {
        width: 100%;
        border-collapse: collapse;
    }
    .ctl-panel {
        display: flex;
        align-items: center;
        min-width: 100%;
    }
    .select2-container {
        width: 100%;
    }
</style>
 
<div class="ctl-container">
    <div class="ctl-panel" >
        <select id="categoriesSelect" data-id="{$product_id|escape}" ">
            <option value="0">Выберите категорию</option>
        </select>
        <div style="display: flex; align-items: center; margin-left: 10px;">
            <button class="button green ctl-btn-add">Добавить</button> 
            <span class="btn-message-add" style="display: block; margin-left: 10px;"></span>
        </div>
    </div>

    <div class="ctl-dt-wrap">
        <table class="ctl-table zebra mt15" data-Url="?plugin=pdd&module=file&action=listCat">
            <thead>
                <tr>
                    <th width="1"></th>
                    <th>Добавленные категории</th>
                    <th width="1"></th>
                </tr>
            </thead>
            <tbody id="sortable"></tbody>
        </table>
    </div>
</div>

{literal}
<script type="text/javascript">
(function($) {
    $.catlinkControl = {
        productId: null,
        select: null,
        msgBtn: null,
        init: function() {
            var self = this;
            this.select = $('#categoriesSelect');
            this.productId = this.select.attr('data-id');
            this.msgBtn = $('.btn-message-add');

            this.initSelect();
            this.initAddBtn();
            this.initTable();
            this.initSort();
        },

        initSelect: function() {
            var self = this;
            $.post('?plugin=catlink&module=category&action=get', function(jData) {
                self.select.empty();
                $.each(jData.data.Categories, function(index, item) {
                   
                    self.select.append($('<option>', {
                        value: item.id,
                        text: item.path,
                        'data-id': item.id,
                    }));
                });
            });
            self.select.append($('<option>', ));
            this.select.select2();
        },

        initAddBtn: function() {
            var self = this;
            $('.ctl-btn-add').click(function() {
                var selectedCategory = self.select.select2('data'); 
                if (selectedCategory.id != 0) {
                    $.post('?plugin=catlink&module=category&action=add', { 
                        productId:self.productId, 
                        categoryId: selectedCategory.id, 
                        name: selectedCategory.text
                    }, function(jData) {
                        
                        self.msgBtn.css('color', 'green');
                        self.msgBtn.text(jData.data[0].message).show();
                        setTimeout(function() {
                            self.msgBtn.hide(); 
                        }, 5000);
                        self.initTable();
                    });
                } else {
                    self.msgBtn.css('color', 'red');
                    self.msgBtn.text("Выберите категорию").show();
                    setTimeout(function() {
                                self.msgBtn.hide(); 
                    }, 5000);
                }
            });
        },

        initTable: function() {
            var self = this;
            $.post('?plugin=catlink&module=Category&action=list', {productId: self.productId},  function(jData) {
                var tableBody = $('.ctl-table tbody'); 
                tableBody.empty();
                $.each(jData.data, function(index, category) {
                    var row = $(`<tr id="${category.id}" data-categoryId ="${category.category_id}">`); 
                    row.append('<td> <i class="icon16 sort ctl-tb-btn-sort"></i> </td>'); 
                    row.append(`<td data-id="${category.id}">` + category.name + '</td>');
                    row.append('<td> <i class="icon16 delete ctl-tb-btn-delete" title="Удалить"></i> </td>'); 
                    
                    tableBody.append(row); 

                    row.find('.ctl-tb-btn-delete').click(function() {
                        var categoryId = $(this).closest('tr').attr('data-categoryId');
                        $.post('?plugin=catlink&module=category&action=delete', { 
                            productId: self.productId, 
                            categoryId: categoryId
                        }, function(jData) {
                            self.initTable();
                        });
                    });
                });
            });
            
            $('#sortable').sortable();
        },

        initSort: function() {
			var self = this;
            $('#sortable').sortable({
                update: function() {
                    const categories = `categories= ${$(this).sortable("toArray").join(',')}`;
                    $.ajax({
                        method: 'post',
                        url: '?plugin=catlink&module=category&action=sort',
                        data: categories,
                    }, 'json');
                }
            });
		},
    }
})(jQuery);
$(document).ready(function() {
    $.catlinkControl.init();
})
</script>
{/literal}
